<div class="po-wrapper">
    <po-menu 
    [p-collapsed]= "collapsed"
    [p-menus]="menus" >
      <div *p-menu-header-template class="po-p-2 po-font-title sample-menu-header-text-color">
        <p>Welcome,</p>
        <p>
          <b> User Admin </b>
        </p>
      </div>
    </po-menu>
  
    <po-toolbar p-title="Managentment Provision" [p-show-notification]="false"></po-toolbar>
  
    <po-page-default [p-title]="menuItemSelected">
        <router-outlet></router-outlet>
    </po-page-default>
  </div>

  
  