
<po-button p-label="" (p-click)="provisionClick()" p-icon="po-icon po-icon-plus-circle"> </po-button>
<po-button p-label="" (p-click)="onRefresh()" p-icon="po-icon po-icon-change"> </po-button>
<po-loading-overlay *ngIf="loadingOverlay">
</po-loading-overlay>
    <po-table 
    [p-height]="400"
    [p-hide-batch-actions]="false"
    [p-hide-table-search]="false"
    [p-hide-text-overflow]="true"
    [p-items]="items"
    [p-columns]="columns"
    [p-actions]="actions"
    [p-sort]="true"
    (p-collapsed)="onCollapseDetail()"
    (p-expanded)="onExpandDetail()"
    > 
    </po-table>
<po-modal #modalDetails
p-click-out="true" 
p-size="lg" 
p-title="{{ detail?.tenantName }}">
<po-info class="po-sm-8" [p-label]="detail?.info"> </po-info>
<!-- <po-textarea name="textarea" p-label="{{legendTextArea}}" ></po-textarea> -->
<!-- <p>{{formattedJson}}</p> -->
<po-code-editor #editor
p-theme = "vs-dark"
[p-readonly]="true"
p-language = "json"
p-height = "500"
></po-code-editor>
</po-modal>

<po-modal #modalProvision
p-title = "Provisioning"
p-size="lg">    
    <po-dynamic-form [p-fields]="fieldsForm"> </po-dynamic-form>
    <po-button p-label="Send" (p-click)="onClick()" p-icon="po-icon po-icon-handshake"> </po-button>
</po-modal>
