<p>Macro Vision</p>
<po-container>
    <div class="po-row">
        <div class="po-md-6">
        <po-chart
        [p-series]="[
            { label: 'Complete', data: 96 },
            { label: 'Not Complete', data: 4 }
        ]"
        [p-title]="titleOptin"
        >
        </po-chart>
    </div>
        <!-- <div class="po-md-6">
            <po-gauge 
            [p-value]="optInPerc"
            [p-description]="descOptin"
            [p-title]="titleOptin"
            ></po-gauge>
        </div> -->
          <div class="po-md-6">
            <po-gauge 
            [p-value]="forecastPerc"
            [p-description]="descForecast"
            [p-title]="titleForecast"
            [p-ranges] = "forecastRanges"
            ></po-gauge>
        </div>
    </div>
    <div class="po-row">
        <div class="po-md-12">
            <po-chart
            [p-series]="seriesColumn"
            [p-categories]="categoriesColumn"
            [p-title]="titleColumn"
            >
            </po-chart>
        </div>
    </div>
</po-container>